player-connection-mode=Connect
player-connection-guid=593788461
player-connection-debug=1
player-connection-project-name=20250421_3drpg_g
player-connection-wait-timeout=-1
player-connection-ip=10.106.19.234
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=5e9db6fd58cb41939e416ee6443ae2db
